.task {
  display: flex;
  align-items: center;
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 46rem;
  justify-content: space-between;
}

.task + .task {
  margin-top: 0.75rem;
}

.task:last-child {
  margin-bottom: 17.625rem;
}

.task p {
  margin: 16px 12px;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 19.6px;
  width: 100%;
}

.task button:first-of-type {
  width: 1.5rem;
  height: 1.5rem;
  margin: 19.27px;
  background: transparent;
  color: var(--gray-300);
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.task button:last-child {
  width: 1.5rem;
  height: 1.5rem;
  margin: 21px 21px 30px 12px;
  background: transparent;
  color: var(--gray-300);
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.completedTasks {
  text-decoration: line-through;
  color: var(--gray-300);
}